{% extends 'base.html' %}
{% load static %}

{% block page_title %}Streams{% endblock page_title %}

{% block meta %}
<link href="{% static 'css/streams.css' %}" rel="stylesheet" type="text/css" />
{% endblock meta %}

{% block content %}
  <div class="span5 offset1">
    <div class="row">
      <form class="form-search" action="" name="add_stream">
        <p class="input-append">
          <input type="text" name="channel" id="add_stream" class="search-query" />
          <input class="btn btn-primary" type="submit" id="submit_add" value="Add stream" />
        </p>
      </form>
    </div>
    <div class="row">
    <table class="table table-bordered table-striped table-condensed">
      <caption>Streams</caption>
      <tbody id="channels">
        <tr id="stream-separator"><td colspan="2"><a>Show/Hide offline streams</a></td></tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="list_streams.js"></script>
{% endblock javascript %}
